{% extends "layout.html" %}

{% block main %}

<p style="color: red; margin-left: 50px;">{{msg}}</p>

<div class="w3-row">
    <div class="w3-col" style="width:150px; text-align:center;"><p>Select</p></div>
    <div class="w3-rest w3-light-grey" style="padding-left: 40px;"><p>

<form action="/form" method="POST">
  <label for="years">Year:</label>
  <select name="years" id="years">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
  </select>

  <label for="months">  Month:</label>
  <select name="months" id="months">
    <option value="Jan">Jan</option>
    <option value="Feb">Feb</option>
    <option value="Mar">Mar</option>
    <option value="Apr">Apr</option>
    <option value="May">May</option>
    <option value="Jun">Jun</option>
    <option value="Jul">Jul</option>
    <option value="Aug">Aug</option>
    <option value="Sep">Sep</option>
    <option value="Oct">Oct</option>
    <option value="Nov">Nov</option>
    <option value="Dec">Dec</option>
  </select>


  <label for="days">  Day:</label>
  <select name="days" id="days">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
  </select>
<br><br>
  <label for="kids">Kid:</label>
  <select name="kids" id="kids">
    <option value="Jurgis">Jurgis</option>
    <option value="Morta">Morta</option>
  </select>
<br><br>
  <input type="checkbox" id="lunch" name="lunch" value="lunch">
  <label for="lunch"> Lunch</label><br>
  <input type="checkbox" id="dinner" name="dinner" value="dinner">
  <label for="dinner"> Dinner</label><br>

  <br><br>
  <input type="submit" value="Submit">
  <br>
</form>
</p></div>
</div>
<br>
</div>

{% endblock %}